html {
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    background-color: var(--color-html);
    scroll-behavior: smooth;
}

 :root {
    --fuenteprincipal: 'Mukta', sans-serif;
    --primario: #1b1b1b;
    --secundario: #e91f1f;
    /**db0b0b**/
    --gris: #eeeeee;
    --blanco: #ffffff;
    --negro: #252525;
    --negro-claro: #2e2e2e;
    --tamañofuente: 2rem;
    --transition: .4s all!important;
    --color-html: #e9e9e9;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
*,
*:before,
*:after {
    box-sizing: inherit;
}

 ::selection {
    color: var(--blanco);
    background-color: var(--secundario);
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuenteprincipal);
}


/** Globales **/

img {
    max-width: 100%;
}

.contenedor {
    width: 93%;
    max-width: 100rem;
    /** = 1200px; **/
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    color: var(--negro);
    text-align: center;
    font-weight: 700;
    margin: 0 0 1.5rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p,
li {
    color: var(--negro);
    font-weight: 400;
    font-size: var(--tamañofuente);
}

@media (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.8rem;
    }
}

a {
    text-decoration: none;
}

li {
    margin: 1rem 0;
}


/** abajo el contenido **/

.header {
    position: fixed;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* avegacion */

.logo {
    padding-left: 7%;
}

.autotronica {
    background-image: url(../img/autotronica\ \(1\).png);
    position: relative;
    z-index: 1;
    height: 6rem;
    width: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3.5%;
    transition: var(--transition);
}

.autotronica:hover {
    background-color: var(--secundario);
}

.nav-site {
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 10px 0px var(--primario);
}

.nav {
    width: 100%;
    height: 100vh;
    padding: 3rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--negro-claro);
    color: var(--blanco);
    text-align: center;
    transform: translateX(-100%);
    margin-right: 7%;
}

.nav i {
    padding-left: 1rem;
}

.muestra {
    transform: translateX(0);
}

.nav a {
    display: block;
    font-size: var(--tamañofuente);
    color: var(--blanco);
    padding: 2rem 1rem;
    border: 2px solid transparent;
    margin: 2px;
    font-weight: bolder;
    margin: 3px 1rem;
}

.nav a:hover {
    background-color: var(--secundario);
    transition: var(--transition);
    border: 2px solid var(--blanco);
}

.nav-seleccionado {
    border: 2px solid var(--blanco)!important;
    background-color: var(--primario)!important;
    color: var(--secundario)!important;
}

.hamburguesa-margen {
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 0;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 3px;
    color: var(--blanco);
    transition: var(--transition);
    border: 2px solid var(--blanco);
    animation: nav 1.5s linear infinite;
}

@keyframes nav {
    0%,
    100% {}
    50% {
        border-color: var(--primario);
    }
}

.hamburguesa-margen i {
    position: relative;
    top: -2px;
}

.hamburguesa-margen:hover {
    background-color: var(--primario);
    color: var(--secundario);
    border-color: var(--secundario);
}

@media (min-width: 610px) {
    .hamburguesa {
        display: none;
    }
    .nav {
        background-color: inherit;
        transform: translateX(0);
        position: inherit;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        text-align: end;
    }
    .nav a {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        transition: var(--transition);
        font-weight: bolder;
        font-size: 1.6rem;
        margin: 3px;
    }
    .nav a:last-of-type {
        margin-right: 0;
    }
    .nav p {
        display: none;
    }
    .nav a:hover {
        border: 2px solid var(--blanco);
        background-color: var(--negro);
    }
    .nav-seleccionado {
        border: 2px solid var(--primario)!important;
        color: var(--secundario)!important;
    }
    .nav-seleccionado:hover {
        border: 2px solid var(--primario)!important;
        background-color: var(--primario)!important;
    }
    .contacto-seleccion {
        border: 2px solid var(--blanco)!important;
    }
    .contacto-seleccion:hover {
        border: 2px solid var(--secundario)!important;
    }
}

.active {
    background-color: var(--secundario);
    border: 1px solid var(--negro);
}


/** HEADER**/

.header-imagen {
    background-color: var(--primario);
    background-image: url(../img/350z-header.jpg);
    position: relative;
    min-height: 400px;
    height: 100vh;
    max-height: 825px;
}

@media (min-width: 900px) {
    .header-imagen {
        background-attachment: fixed;
    }
}

.imagen-fondo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-fondo-oscuro {
    background-color: rgba(0, 0, 0, 0.452);
}

.header-centar-padre {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 400px;
    height: 100vh;
    max-height: 825px;
}

.hader-dos-columnas p,
.hader-dos-columnas h1 {
    color: var(--blanco);
    text-align: center;
    position: relative;
    z-index: 100;
}

.hader-dos-columnas a {
    display: table!important;
    margin: auto;
}

.hader-dos-columnas h1 {
    text-align: left;
}

@media (min-width: 845px) {
    .hader-dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--tamañofuente);
        row-gap: var(--tamañofuente);
    }
    .hader-dos-columnas p {
        text-align: center;
    }
}


/** FIN HEADER**/

.margin-auto {
    margin: auto;
}


/**boton **/

.boton {
    display: inline-block;
    padding: 1.6rem 3rem;
    margin: 2rem 0;
    background-color: var(--secundario);
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    transition: var(--transition);
    box-shadow: 0 1px 10px 0px rgb(0 0 0 / 72%);
}

.boton i {
    padding-left: 1rem;
}

.boton:hover {
    background-color: var(--blanco);
    color: var(--primario);
    transform: scale(1.03);
}

.boton-flex i {
    display: flex;
    align-items: center;
}

.boton:hover i {
    color: var(--primario);
}


/**boton fin**/

.main-index:hover .border-h2 {
    width: 75%;
}

.border-h2 {
    width: 50%;
    height: 3px;
    background-color: var(--secundario);
    margin: 0 auto 1.5rem;
    border-radius: 3px;
    transition: var(--transition);
}

.main-index p {
    text-align: center;
}

.margin-0 {
    margin: 0;
}

.alinear-texto-c {
    text-align: center;
}

.diseño-principal {
    background-color: var(--blanco);
    /** padding: 2rem 2rem 0;
    margin-bottom: -2rem;**/
}

.contenedor-2 {
    width: 93%;
    max-width: 90rem;
    /** = 1200px; **/
    margin: 0 auto;
}

.padding-top {
    padding-top: var(--tamañofuente);
}

.margin-top-2rem {
    margin-top: -2rem;
}

.padding-bottom {
    padding-bottom: var(--tamañofuente);
}


/**.padd-bott {
    padding-bottom: 2rem!important;
}

.marg-top {
    margin-top: -2rem;
}**/

.centrar-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 599px) {
    .tres-columnas-p {
        padding-bottom: 1rem;
        border-bottom: 3px solid var(--gris);
    }
}

@media (min-width: 600px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

@media (min-width: 850px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.tres-columnas p {
    margin: 2rem 0;
}

.imagen-principio-1 {
    background-image: url(../img/equpos-programacion-compressed.jpg);
    height: 20rem;
    border-radius: 3px;
}

.imagen-principio-2 {
    background-image: url(../img/computadora-auto-programacion-compressed.jpg);
    height: 20rem;
    border-radius: 3px;
}

.imagen-principio-3 {
    background-image: url(../img/reparacion-compressed.jpg);
    height: 20rem;
    border-radius: 3px;
}

.no-padding {
    padding: 0;
}

@media (min-width: 768px) {
    .listas-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) {
    .listas-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .listas-none {
        display: none;
    }
}

.centar-con-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height100 {
    height: 100%;
}

.lista-diseño {
    background-color: var(--blanco);
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--secundario);
    transition: var(--transition);
    border-radius: 3px;
    position: relative;
    top: 0;
    left: 0;
    height: 15rem;
}

@media (max-width: 767px) {
    .lista-diseño {
        margin: var(--tamañofuente) 1rem;
    }
}

@media (min-width: 768px) {
    .lista-diseño {
        height: 25rem;
    }
}

.lista-diseño:hover {
    border: 2px solid var(--primario);
}

.lista-diseño i {
    transition: var(--transition);
}

.lista-diseño:hover i {
    opacity: .95;
    color: var(--primario);
    text-shadow: 0px 0 2px var(--primario);
}

.imagen-fondo-carro-herramientas {
    background-image: url(../img/carro-herramienta.jpg);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lista-diseño i {
    text-shadow: 0px 0 2px var(--secundario);
    position: absolute;
    top: -2rem;
    left: -2rem;
    color: var(--secundario);
    font-size: 3.8rem;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.imagen-fondo-dos {
    background-image: url(../img/carro-negro-inicio-mitad-compressed.jpg);
    height: auto;
    margin: 2rem 0;
}

.color-fondo-oscuro-dos {
    background-color: rgb(45 0 0 / 48%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0;
}

.imagen-fondo-dos h3,
.imagen-fondo-dos p {
    color: var(--blanco);
    width: 100%;
}

.contenido-img-dos a {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.imagen-fondo-seccion {
    background-image: url(../img/mustang-rojo-compressed.jpg);
    height: 50vh;
    border-radius: 3px;
}

@media (min-width: 900px) {
    .grid-dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--tamañofuente);
        row-gap: var(--tamañofuente);
    }
    .imagen-fondo-seccion {
        height: 100%;
    }
}

.footer {
    height: 7rem;
    background-color: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -3px 4px 0px rgb(0 0 0 / 51%);
}

.footer p {
    color: var(--blanco);
    transition: var(--transition);
}

.footer p:hover {
    color: var(--secundario);
}


/**NOSOTROS **/

.imagen-fondo-nosotros {
    background-image: url(../img/carro-blanco-nosotros-dos.jpg);
    min-height: 200px;
    height: 50vh;
    max-height: 50rem;
}

.fondo-negro-nosotros {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-fondo-nosotros h1 {
    font-size: 5rem;
    color: var(--blanco);
    margin: 0;
}

@media (min-width: 600px) {
    .imagen-fondo-nosotros h1 {
        font-size: 7rem;
    }
}

.seccion-nosotros h2 {
    text-align: center;
}

@media (min-width: 600px) {
    .seccion-nosotros h2 {
        text-align: center;
    }
}

.no-margin {
    margin: 0!important;
}

.main-nosotros h4 {
    font-size: var(--tamañofuente);
}

.main-nosotros h4,
.main-nosotros p {
    color: var(--primario);
    margin: 2rem 0;
}

.imagen-main-nosotros-uno {
    background-image: url(../img/carro-blanco-reparacion-compressed.jpg);
    height: 20rem;
    border-radius: 3px;
}

.imagen-main-nosotros-dos {
    background-image: url(../img/carro-reparacion-con-compu-compressed.jpg);
    height: 20rem;
    border-radius: 3px;
}

.fondo-rojo {
    padding: var(--tamañofuente);
    background-color: var(--secundario);
}

@media (max-width: 600px) {
    .fondo-rojo {
        padding: var(--tamañofuente) 0;
    }
}

.fondo-rojo h2,
.fondo-rojo p {
    color: var(--blanco);
}

.fondo-rojo p {
    text-align: left;
}

.imagen-seccion-nosotros {
    background-image: url(../img/laptop-programacion-compressed.jpg);
    border-radius: 3px;
    height: 40vh;
    width: 100%;
}

.grid-seccion-nosotros {
    place-content: center;
}

@media (min-width: 768px) {
    .grid-seccion-nosotros {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: var(--tamañofuente);
    }
    .imagen-seccion-nosotros {
        height: auto;
        width: 100%;
    }
    .fondo-rojo h2,
    .fondo-rojo p {
        text-align: left;
    }
}


/**
CONTACTO**/

.imagen-fondo-contacto {
    background-image: url(../img/seccion-contacto-compressed.jpg);
    min-height: 200px;
    height: 50vh;
    max-height: 50rem;
}

.imagen-fondo-contacto h1 {
    font-size: 5rem;
    color: var(--blanco);
}

@media (min-width: 600px) {
    .imagen-fondo-contacto h1 {
        font-size: 7rem;
    }
}

.contacto-redes-sociales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--tamañofuente);
    row-gap: var(--tamañofuente);
    gap: var(--tamañofuente);
}

@media (min-width: 500px) {
    .contacto-redes-sociales {
        grid-template-columns: repeat(3, 1fr);
    }
}

.contacto-redes-sociales a {
    text-align: center;
    border: 2px solid var(--secundario);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primario);
    font-size: 5rem;
    padding: var(--tamañofuente);
    transition: var(--transition);
}

.contacto-redes-sociales a:hover {
    color: var(--secundario);
    border: 2px solid var(--primario);
}

.rows-dos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.mapa {
    position: relative;
    left: 0;
    right: 0;
    height: 40rem;
    border: 3px solid var(--secundario);
    border-radius: 3px;
}

@media (min-width: 600px) {
    .mapa {
        min-height: 200px;
        height: calc(50vh - 0rem);
        max-height: 50rem;
    }
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

.ubicacion i {
    text-align: center;
    padding-left: 1rem;
}

.titulo-rows {
    position: relative;
}

.heigth-auto-fondo {
    position: relative;
    height: 100%;
}

.linea-flecha {
    position: absolute;
    top: 0;
    left: calc(50% - 3px);
    border: 3px dashed var(--blanco);
    height: 100%;
    z-index: 0;
    opacity: .8;
}

.btn-ubicacion {
    display: table;
    margin: auto;
}

.btn-ubicacion a:hover {
    background-color: var(--negro-claro);
    color: var(--blanco);
}

.btn-ubicacion a:hover i {
    color: var(--blanco);
}

.flecha-animacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 10;
}

@keyframes flecha {
    0% {
        transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

.flecha-animacion i {
    position: absolute;
    top: -3px;
    animation: flecha 1s cubic-bezier(0.55, 0.05, 0.24, 1.05) infinite;
    font-size: 5rem;
    text-align: center;
    color: var(--secundario);
    text-shadow: 0px 0 3px var(--secundario);
}